<p-button [ngClass]="'navIcon'" icon="pi pi-angle-double-left" (onClick)="handleFirstClick($event)"></p-button>
<p-button [ngClass]="'navIcon'" icon="pi pi-angle-left" (onClick)="handlePrevClick($event)"></p-button>
<p-dropdown [options]="weeks" [(ngModel)]="week" optionLabel="display" (ngModelChange)="onChange($event)"></p-dropdown>
<p-button [ngClass]="'navIcon'" icon="pi pi-angle-right" (onClick)="handleNextClick($event)"></p-button>
<p-button [ngClass]="'navIcon'" icon="pi pi-angle-double-right" (onClick)="handleLastClick($event)"></p-button>
<p-table 
  [columns]="gameCols" 
  [value]="gameRows" 
  [resizableColumns]="true"
  dataKey="homeTeam" 
  [resizableColumns]="true" 
  [reorderableColumns]="true"
  (sortFunction)="customSort($event)"
  [customSort]="true" >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" 
              [pSortableColumn]="col.field" 
              pResizableColumn 
              pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" *ngIf="col.sortable"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [ngClass]="'gameCell'">
            <td *ngFor="let col of columns" 
            [ngClass]="rowData.tableFieldStyle(col.field)"
            >
              {{rowData.tableData(col.field)}}
            </td>
        </tr>
    </ng-template>
</p-table>