body .ui-table .ui-table-tbody .highlightgreen { 
  background-color: #56ff5640;
}

body .ui-table .ui-table-tbody .highlightred { 
  background-color: #ff666640;
}

.gameCell {
  font-family: monospace;
}

.navIcon .pi {
  color: white;
}

.navIcon {
  height: 100%;
}

.navIcon .ui-button {
  height: 100%;
}

.leftbtn .ui-button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.midbtn .ui-button {
  border-radius: 0px;
} 

.rightbtn .ui-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

body .ui-button {
  border: none;
}

body .ui-button:enabled:focus {
  box-shadow: none;
}

body .ui-dropdown {
  border-radius: 0px;
  border: none;
}

body .ui-dropdown-label {
  border-radius: 0px;
}

.testcls {
  margin: 2px;
  height: 31px;
  border: 1px #616161 solid;
  width: fit-content;
  border-radius: 4px;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight .ng-star-inserted {
  color: white;
}