<div class="testcls">
<p-button [ngClass]="'navIcon leftbtn'" icon="pi pi-angle-double-left" (onClick)="handleFirstClick($event)"></p-button>
<p-button [ngClass]="'navIcon midbtn'" icon="pi pi-angle-left" (onClick)="handlePrevClick($event)"></p-button>
<p-dropdown [options]="weeks" [(ngModel)]="week" optionLabel="display" (ngModelChange)="onChange($event)"></p-dropdown>
<p-button [ngClass]="'navIcon midbtn'" icon="pi pi-angle-right" (onClick)="handleNextClick($event)"></p-button>
<p-button [ngClass]="'navIcon rightbtn'" icon="pi pi-angle-double-right" (onClick)="handleLastClick($event)"></p-button>
</div>

<p-table 
  [columns]="pickCols" 
  [value]="pickRows" 
  [resizableColumns]="true"
  dataKey="pick" 
  [resizableColumns]="true" 
  [reorderableColumns]="true"
  (sortFunction)="customSort($event)"
  [customSort]="true" >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" 
              [pSortableColumn]="col.field" 
              pResizableColumn 
              pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" *ngIf="col.sortable"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr class="ui-widget-header" *ngIf="pickGroupMetadata[rowData.metaData()].index === rowIndex">
          <td colspan="3">
            <span style="font-weight:bold">{{rowData.metaData()}} {{pickGroupMetadata[rowData.metaData()].win}}/{{pickGroupMetadata[rowData.metaData()].win + pickGroupMetadata[rowData.metaData()].loss}}</span>
          </td>
        </tr>
        <tr [ngClass]="'gameCell'">
          <td *ngFor="let col of columns" 
            [ngClass]="rowData.tableFieldStyle(col.field)">
            {{rowData.tableData(col.field)}}
          </td>
        </tr>
    </ng-template>
</p-table>

<p-table 
  [columns]="gameCols" 
  [value]="gameRows" 
  [resizableColumns]="true"
  dataKey="homeTeam" 
  [resizableColumns]="true" 
  [reorderableColumns]="true"
  (sortFunction)="customSort($event)"
  [customSort]="true" >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" 
              [pSortableColumn]="col.field" 
              pResizableColumn 
              pReorderableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" *ngIf="col.sortable"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [ngClass]="'gameCell'">
            <td *ngFor="let col of columns" 
            [ngClass]="rowData.tableFieldStyle(col.field)"
            >
              {{rowData.tableData(col.field)}}
            </td>
        </tr>
    </ng-template>
</p-table>